<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="authService.logout()">Logout</ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="showGetStarted" class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Hopsight</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Click the camera button to take a picture of a beer menu.</p>
    </ion-card-content>
  </ion-card>
  <div id="camera-button-container">
    <input style="display: none;" #inputcamera type="file" accept="image/*" (change)="imageSelected($event)" />
    <ion-button id="camera-button" (click)="inputcamera.click()">Camera</ion-button>
  </div>
  <div *ngIf="doneParsing" id="beer-select">
    <div id="select-tip">Now select all beers from the possible beer list below</div>
    <ion-item>
      <ion-label>Possible Beers</ion-label>
      <ion-select multiple="true" placeholder="Select beer names" (ionChange)="beersSelected($event)">
        <ion-select-option *ngFor="let line of strippedTextArray">{{line}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div id="beer-table-container">
    <table id="beer-table">
      <thead>
        <tr>
          <th class="row-1 row-name">Beer Name</th>
          <th class="row-2 row-abv">ABV</th>
          <th class="row-3 row-rating">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beer of beersWithRanks" (click)="rowClicked(beer)">
          <td>{{beer.searchTerm}}</td>
          <td>{{beer.beer.beer_abv}}</td>
          <td>{{beer.beer.rating_score}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="error-message">{{ errorMessage }}</div>
</ion-content>