h1 {
  text-align: center;
}

ion-icon {
  font-size: 64px;
  min-width: 100px;
}

.login-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-top: 20px;
}