<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Hopsight</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Click the camera button to take a picture of a beer menu.</p>
      </ion-card-content>
    </ion-card>
    <div id="camera-button-container">
        <input style="display: none;" #inputcamera type="file" accept="image/*" (change)="handleImage($event)"/>
      <ion-button id="camera-button" (click)="inputcamera.click()">Camera</ion-button>
    </div>
</ion-content>
